@charset "utf-8";
#wrap{
  width: 100%;
  min-width: 1020px;
}
.container{
  width: 1020px;
  margin: auto;
}
.clear{
  clear:both;
  line-height: 0;
  overflow: hidden;
}

.clearfix::after{
  content: '';
  display:block;
  clear:both;
}
header{}

#h-top{
  background: #222;
  color:#fff;
  overflow: hidden;
}

ul.topnav{
  float:left;
}
ul.topnav li{
  float:left;
  padding: 1rem 0;
}
ul.topnav li a{}
ul.topnav li::after{
  content:'';
  display:inline-block;
  width: 1px;
  height: 10px;
  background: #666;
  margin: 0 1rem ; 
}
ul.topnav li:nth-child(6)::after{
  display:none;
}
ul.topnav li:nth-child(1){
  padding-left: 1.5rem;
  background: url("../images/home_icon.png")no-repeat left;
}

ul.topnav li:hover a{
  text-decoration: underline;
}

.snscover{
  float: right;
}
.snscover a{
  background: url("../images/sns_icon.png");
  float:left;
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  margin:6px 0 0 10px;
  
}
.snscover a:nth-child(1){
  background-position: 0px 0px;
}
.snscover a:nth-child(2){
  background-position: -28px 0px;
}
.snscover a:nth-child(3){
  background-position: -56px 0px;
}
.snscover a:nth-child(4){
  background-position: -84px 0px;
}


.snscover a:nth-child(1):hover{
  background-position: 0px -28px;
}
.snscover a:nth-child(2):hover{
  background-position: -28px -28px;
}
.snscover a:nth-child(3):hover{
  background-position: -56px -28px;
}
.snscover a:nth-child(4):hover{
  background-position: -84px -28px;
}


#h-bot{

  border-bottom: 1px solid #dd1a32;
  position:relative;
}

#logo{
  float:left;
  margin: 1.2rem 0 ;
}

nav{
  float:right;
}

.mainmenu{
  float:left;
  margin-left: 6rem;
}

.mainmenu::after{
  content:'';
  display:block;
  border-bottom: 3px solid #dd1a32;
  width: 0;
  transition: 0.5s;
}

.mainmenu:hover::after{
  width: 100%;
}

.mainmenu>a{
  display:block;
  line-height: 79px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.submenu{
  display:none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 83px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  padding: 3rem 0;
  z-index: 999;
}
.submenu dl{
  float:left;
  width: 160px;
  
}
.submenu dl+dl{
  margin-left: 1rem;
}
.submenu dt{
  font-size: 1.2rem;
  color:#dd1a32;
  font-weight: bold;
  border-bottom: 1px solid #dd1a32;
  padding: 0 0 10px 10px;
  
}
.submenu dd{
  margin: 20px 10px;
}
.submenu dd:hover a{
  color:#dd1a32;
}



main{
/*  bx슬라이더를 main 안에 넣자*/
  
}

#slide{}

#slide li{
  height: 702px;
  font-size: 0;
  line-height: 0;
  width: 100%;

}


#contents{}

#banner{
  position:relative;
  margin-top: -60px;
  z-index: 5;
}
#ban1{
  width: 510px;
  height: 255px;
  background: #eee;
  float:left;
  
}

.btextcover{
  width: 255px;
  
  background: #dd1a32;
  float:left;
  
}
.btextcover a{
  display:block;
  height: 255px;
  padding: 30px;
  color:#fff;
  text-align: center;
}
.btextcover span{
  display:block;
}


.btextcover .btext1{
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.btextcover .btitle{
  font-size: 2.7rem;
  line-height: 1;
}
.btextcover .bbar{
  width: 40px;
  border-top: 4px solid;
  margin:20px auto;
}
.btextcover .btext2{
  letter-spacing: -1px;
}

.imgcover{
  width: 255px;
  height: 255px;
  float:right;
}

.imgcover img{}


#ban2{
  width: 510px;
  height: 510px;
  background: #fff;
  float:right;
  border-top: 1px solid #ccc;
}

#ban2-1{
  float:left;
  width: 255px;
}
.itemcover{
  width: 255px;
}
.itemcover li{
  float:left;
  width: 50%;
  text-align: center;
  background: url("../images/b_menu.png");
  
}

.itemcover li:nth-child(1){
  background-position: 0px -10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.itemcover li:nth-child(2){
   background-position: -128px -10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.itemcover li:nth-child(3){
   background-position: 256px -10px;
  border-right: 1px solid #ccc;
}
.itemcover li:nth-child(4){
   background-position: -384px -10px;
  border-right: 1px solid #ccc;
}
.itemcover li a{
  display:block;
  height: 127px;
}
.itemcover li span{
  display:inline-block;
  padding-top: 90px;
  font-size: 1.2rem;
}

/*공동요소 effect*/
.itemcover li:hover{
  background-color: #dd1a32;
  color:#fff;
}
.itemcover li:hover:nth-child(1){
  background-position: 0px -138px;
}
.itemcover li:hover:nth-child(2){
  background-position: -128px -138px;
}
.itemcover li:hover:nth-child(3){
  background-position: 256px -138px;
}
.itemcover li:hover:nth-child(4){
  background-position: -384px -138px;
}
#ban2-1 .btextcover{
  background: #555;
}

#ban2-2{
  float:right;
  width: 255px;
  border-right: 1px solid #ccc;
}


.news{
  padding: 30px;
  height: 255px;
}
.news h3{
  font-size: 1.8rem;
  color: #dd1a32;
}
.news span{
  display:block;
  width: 30px;
  border-top:1px solid #dd1a32;
  margin: 10px 0 30px;
}
.news a{
  font-size: 1.5rem;
  font-weight: bold;
}
.news p{
  margin-top: 10px;
}
.news .graytext{
  color:#999;
  margin:2rem 0;
}
.dashbar{
  display:block;
  width: 200px;
  border-top: 1px dashed #ccc;
  margin:auto;
}



#ban3{
  width: 510px;
  height: 510px;
  background: #aaa;
  float:left;
  position:relative;
}

.stextcover{
  margin:30px;
}
.stextcover h2{
  font-size: 3.5rem;
  font-weight: normal;
  letter-spacing: -2px;
}
.stextcover span{
  display:block;
  width: 35px;
  border-top: 3px solid #dd1a32;
  margin:20px 0 15px;
}
.stextcover h3{
  font-size: 1.7rem;
  letter-spacing: -2px;
}
.stextcover p{
  font-size: 1.3rem;
  margin-top: 20px;
}

.imgslide{}
.imgslide img{
  position:absolute;
  right: 0;
  top: 0;   
}

#ban4{
  width: 510px;
  height: 255px;
  background: #000;
  float:right;
}

#ban4 .btextcover{
  width: 255px;
  background: green;
  float:right;
}


#intro{
  padding: 10rem 0 4rem;
}

.intitle{
  text-align: center;
  font-size: 1.7rem;
}
.intitle h3{

}
.intitle .xxcover{
  background: url("../images/line_bg01.jpg") repeat-x center;
}
.intitle h2{
  font-size: 3rem;
  background: #fff;
  width: 280px;
  margin:auto;
  letter-spacing: -1px;
}
.intitle p{
  font-size: 1.3rem;
  padding-top: 10px;
  color:#555;
}

.inlist{
  padding:3rem 0;
  overflow:hidden;
}
.inlist li{
  float:left;
  width: 240px;
  border:1px solid #ccc;
  transition:0.5s;
}
.inlist li:nth-child(even){
  margin-top: 40px;
}
.inlist li+li{
  margin-left: 20px;
}
.inlist li a{
  display:block;
  padding: 10px;
}
.inlist li img{
  width: 100%;
}
.inlist li span{
  display:block;
}
.inlist li .subtitle{
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 25px;
}
.inlist li .subtext{
  margin:7px 0 15px;
}
.inlist li .submore{
  margin-bottom: 15px;
}

/*hover effect*/
.inlist li:hover{
  border-top-color: #dd1a32;
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inbtn{
  display:block;
  background:#dd1a32; 
  width: 200px;
  padding: 10px 50px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 30px;
  margin:auto;
  text-align: center;
  border: 2px solid #dd1a32;
  font-weight: bold;
  transition: 0.3s;
  
}

.inbtn:hover{
  background: #fff;
  color:#dd1a32;
  
}

#find{
  padding: 3rem 0;
  background: #eee;
  overflow: hidden;
}
.findbox{
  width:49%;
  height: 140px;
  color: #fff;
  padding: 2rem;
}

.findbox.left{
  float:left;
  background: url("../images/banner_bg01.jpg") #2e4e7d no-repeat 380px;
  
}
.findbox.right{
  float:right;
  background: url("../images/banner_bg02.jpg") #314252 no-repeat 380px;
}


.findbox h3{
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.findbox h2{
  font-size: 2rem;
  margin-bottom: 5px;
}
.findbox p{}
.findbox a{
  display:inline-block;
  margin-top: 20px;
}

.fgray{
  color: #999;
}

#bot-menu{
  background: #333;
  padding: 4rem 0 6rem;
  color: #666;
}

#bot-menu dl{
  float:left;
  width: 150px;
}
#bot-menu dl+dl{
  margin-left: 24px;
}

#bot-menu dt{
  font-size: 1.3rem;
  border-bottom: 1px solid #555;
  font-weight: bold;
  color: #ccc;
  padding: 0 0 10px 10px;
}

#bot-menu dd{
  margin:10px;
}

#bot-menu dd:hover a{
  text-decoration: underline;
}



/*footer*/
footer{
  background: #222;
  color: #aaa;
}

#ftop{
  padding: 1.5rem 0;
  overflow:hidden;
}
#ftop>li{
  float:left;
}
#ftop>li a{}
#ftop>li a::after{
  content:'/';
  display:inline-block;
  margin:0 1rem;
}
#ftop li:nth-child(5) a::after{
  display:none;
}

#fbot{
  padding: 3rem 0 5rem;
  overflow: hidden;
  border-top: 1px solid #555;
}

#flogo{
  float:left;
}

address{
  float:left;
  margin-left: 3rem;
  color: #777;
  
}

.selectcover{
  float:right;
}
.selectcover select{
  background: #444;
  color:#aaa;
  border:none;
  width: 150px;
  height: 30px;
  padding-left: 10px;
  border-radius: 15px;
  border-radius: 15px;
}

/*sub02page start*/
#sub-banner{
  background: url("../images/visual_md.jpg")#820c02 center no-repeat;
  height: 180px;
  color:#fff;
  padding-top: 4rem;
}
#sub-banner h3{
  font-size: 2rem;
}
#sub-banner h2{
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: -2px;
}

#sub-body{}
.body-menu{
  border-bottom: 1px solid #ccc;
}
.body-menu a{
  float:left;
  border-right: 1px solid #ccc;
}

.body-menu .btnnav{
  float:left;
  position:relative;
}
.body-menu button{
  width: 200px;
  height: 49px;
  border-right: 1px solid #ccc;
  text-align: left;
  padding-left: 20px;
  background: url("../images/down_icon.jpg") no-repeat 180px;
}

.body-menu .btnsub{
  display:none;
  width: 150px;
  background: #fff;
  border:1px solid #ccc;
  position:absolute;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.31);
  top:50px;
  z-index: 50;
}
.body-menu .btnsub li{
  display:block;
  
}
.body-menu .btnsub li a{
  display:block;
  padding:10px 0;
}

.body-contents{
 	padding: 6rem 0;
}

.bodytitle{
  text-align: center;
}
.bodytitle h3{
  font-size: 2.2rem;
  font-style: italic;
  letter-spacing: -1px;
}
.bodytitle h2{
  font-size: 3.5rem;
  letter-spacing: -3px;
  
}

.body-con-menu{
  margin: 8rem 0 4rem; 
  border:1px solid #ccc;
}
.body-con-menu li{
  float:left;
  width: 169px;
  text-align: center;
  
}

.body-con-menu li+li{
  border-left: 1px solid #ccc;
}
.body-con-menu li a{
  display:block;
  line-height: 70px;
  font-size: 1.4rem;
  font-weight: bold;
}
.redbutton{
  background: #dd1a32;
  color:#fff;
}

.body-con-box{
  text-align: center;
}

.body-con-box>img{}

.body-con-box .contentlist{
  margin-top: 4rem;
  overflow: hidden;
}
.body-con-box .contentlist li{
  float:left;
  width: 300px;
  padding-top: 70px;
}

.body-con-box .contentlist li+li{
  margin-left: 60px;
}

.body-con-box .contentlist li:nth-child(1){
  background: url("../images/cont0102.jpg") no-repeat center top;
}
.body-con-box li:nth-child(2){
  background: url("../images/cont0103.jpg") no-repeat center top;
}
.body-con-box li:nth-child(3){
  background: url("../images/cont0104.jpg") no-repeat center top;
}
.body-con-box h3{
  font-size: 2rem;
}
.body-con-box p{
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: 1.5;
  color:#666;
}
.body-con-box ins{
  color:#000;
}


/*sub02-page*/
.imglist{}
.imglist li{
  margin:2rem 0;
}
.imglist img{
  width: 100%;
}


/*board*/
.body-con-menu.item4 li{
  width: 244px;
}

.body-con-title{
  overflow: hidden;
}

.body-con-title p{
  float:left;
  margin-right: 20px;
}

.body-con-title-search{
  float:right;
}


.body-con-title-search>*{
  float:left;
}
.body-con-title-search select{
  width: 100px;
  height: 30px;
  border:1px solid #ccc;
  color: #999;
  padding-left: 10px;
  margin-right: 10px;
}

.body-con-title-search input{
  width: 200px;
  height: 30px;
  border:1px solid #ccc;
  padding-left: 10px;
  color: #999;
}

.body-con-title-search i{
  font-size: 1.5rem;
  width: 30px;
  line-height: 30px;
  background: #dd1a32;
  display:inline-block;
  color: #fff;
}
/*table*/
.body-table {
    margin: 1.5rem 0 4rem;
}

.body-table table {
    width: 100%;
    border-top: 2px solid #dd1a32;

}

.body-table table tr {}

.body-table table th {
    height: 40px;
    background: #eee;
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;

}

.body-table table .num1{
    width: 20px;
    border-right: 1px solid #ccc;
}

.body-table table .num2{
    width: 50px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.body-table table .num3{
    width: 10px;
}

.body-table table td {
    height: 35px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
}

.body-table table td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
}

.tdcolor {
    background: rgba(221, 26, 50, 0.15);
}

.body-table thead {}

.body-table tbody {}

.create-btn{
    border: 1px solid #ccc;
    background: #dd1a32;
    width: 70px;
    line-height: 30px;
    margin: 5px;
    float: right;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 1.1rem;
    transition:0.3s;
    
}
.create-btn:hover{
    background: white;
    color: #dd1a32;
}
.create-btn-b1{}

.body-btn{}
.body-btn button{
  width: 30px;
  height: 30px;
  border:1px solid #ccc;
  font-size: 0.9rem;
}

.body-btn button:nth-child(3){
  background: #333;
  color:#fff;
  border-color: #333;
}

/*board_write*/

.container_join{
	width: 100%;
    height: 600px;
}
.join_box{
    border: 1px solid #ccc;
    width: 500px;
    height: 700px;
    margin:50px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
}

.join_box .input_box{}

.join_box .input_box p{
    margin: 20px 0 0 10px;
    line-height: 30px;   
    font-size: 20px;
}

.join_box .input_box textarea{
    border:1px solid #ccc;
    border-radius: 5px;
}

.join_box .input_box input{
    margin:10px 0 0 10px;
    padding-left: 10px;
    width: 475px;
    line-height: 30px;
    border:1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}


.join_box .rewrite-btn-b1{
    border: 1px solid #ccc;
    line-height: 40px;
    width: 90px;
    font-size: 16px;
    float: right;
    margin: 10px 15px 0 0;
    border-radius: 5px;
    background-color:#dd1a32;
    color: white;
    text-align: center;
    transition:0.3s;
   	font-weight: bold;
    
}
.join_box .rewrite-btn-b1:hover{
    background: white;
    color: #dd1a32;
}

/* read */
.body-table .board-views {
    float: right;
    margin: 0 10px 10px 0;
    font-size: 1.1rem;
    color: #808080;
}


.body-table {
    /*  1)*/
    margin: 1.5rem 0 4rem;
}

.body-table table {
    width: 100%;
    border-top: 2px solid #dd1a32;

}

.body-table table tr {}

.body-table table th {
    height: 40px;
    width: 100px;
    background: #eee;
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;

}

.body-table table td {
    height: 35px;
    border-bottom: 1px solid #ccc;
    font-size: 1.2rem;
    padding-left: 20px;
    /*  cursor:pointer;*/
}

.text-body {
    font-size: 1.2rem;
    padding: 1.5rem 0 3rem;
    border-bottom: 1px solid #ccc;
}




.body-table .create-btn {
    border: 1px solid #ccc;

    width: 70px;
    line-height: 30px;
    margin: 5px;
    float: right;
    border-radius: 5px;
    text-align: center;
    background: #dd1a32;
}

.body-table .create-btn .create-btn-b1 {
    color: white;
    font-weight: bold;
}

/*sub04_hot css*/

.body-con-menu-hot{
  margin: 8rem 0 4rem; 
  border:1px solid #ccc;
}
.body-con-menu-hot li{
  float:left;
  width: 254px;
  text-align: center;
  
}

.body-con-menu-hot li+li{
  border-left: 1px solid #ccc;
}
.body-con-menu-hot li a{
  display:block;
  line-height: 70px;
  font-size: 1.4rem;
  font-weight: bold;
}

.body-con-box-hot{
	overflow: hidden;
}
.body-con-box-hot ul{}
.body-con-box-hot li{
	position:relative;
	float:left;
	width: 219px;
	height: 330px;
	text-align: center;
	margin-left: 46px;
}
.body-con-box-hot li:nth-child(4n+1){
	margin-left: 0;
}

.body-con-box-hot li img{}
.body-con-box-hot li h3{
	margin-top: 30px;
	font-size: 1.1rem;
	color:#dd1a32;
}
.body-con-box-hot li p{
	font-size: 1.2rem;
	font-weight: bold;
}

.body-con-box-hot li button{
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    color:#404040;
    font-size: 1.1rem;
    font-weight: bold;
}

.body-con-box-hot li button:hover{
    background:#dd1a32; 
    color: #ffffff;
    border: none;
    transition: 0.2s;
}





/*sub05*/

.inputinfor{
  width: 410px;
  height: 100px;
  margin:auto;
}
.inputbox{
  overflow: hidden;
  
}
.inputleft{
  float:left;
  margin-top: 20px;
}
.inputleft input{
  display:block;
  width: 300px;
  height: 50px;
}

.inputright{
  margin: 19px 0 0 2px;
  float:left;
  text-align: center;
  background: #dd1a32;
  border:1px solid #dd1a32;
  font-size: 1.5rem;
}
.inputright button{
  color:white;
  width: 100px;
  line-height:100px;
  font-size: 1.5rem;
}


.inputbox2{
  float:right;
  display:inline-block;
  margin-top: 5px;
}
.inputbox2 span{
  
}
.inputbox2 span:nth-child(3){
  margin-right: 120px;
}

.ytn{
  margin:100px;
}

/*  join */

.container_join{
      width: 100%;
      height: 600px;
  }
  
.join_box{
    border: 1px solid #ccc;
    width: 500px;
    height: 650px;
    margin:50px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.11);
}

.join_box .input_box{}

.join_box .input_box p{
    margin: 20px 0 0 10px;
    line-height: 30px;   
    font-size: 20px;
}

.join_box .input_box textarea{
    border:1px solid #ccc;
    border-radius: 5px;
}

.join_box .input_box input{
    margin:10px 0 0 10px;
    padding-left: 10px;
    width: 475px;
    line-height: 30px;
    border:1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}


.rewrite-btn-b1{
    border: 1px solid #ccc;
    line-height: 40px;
    width: 90px;
    font-size: 16px;
    float: right;
    margin: 10px 15px 0 0;
    border-radius: 5px;
    background-color:#dd1a32;
    color: white;
    text-align: center;
    transition:0.3s;
    
}
.rewrite-btn-b1:hover{
    background: white;
    color: #dd1a32;
}


/* 로그인 */
.inputinfor {
    width: 410px;
    height: 100px;
    margin: auto;
}

.inputinfor .inputbox {
    overflow: hidden;
}

.inputinfor .inputbox .inputleft {
    float: left;
    margin-top: 20px;
    
}

.inputinfor .inputbox .inputleft input {
    display: block;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.5);
}

.inputinfor .inputbox .inputright {
    margin: 19px 0 5px 2px;
    float: left;
    text-align: center;
    background: #dd1a32;
    border: 1px solid #dd1a32;
    font-size: 1.5rem;
    border-radius: 10px;
}

.inputinfor .inputbox .inputright button {
    color: white;
    width: 100px;
    line-height: 100px;
    font-size: 1.5rem;
}


.inputinfor .inputbox2 {
    float: right;
    display: inline-block;
    margin-top: 5px;
}

.inputinfor .inputbox2 span {}

.inputinfor .inputbox2 span:nth-child(3) {
    margin-right: 120px;
}












