<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xoxoproject.example.mapper.BoardMapper">
	 <select id="selectBoardList" resultType="Board">
	    SELECT 			@ROWNUM := @ROWNUM - 1 AS ROWNUM,
						ta.*
		FROM 			xo_board ta,
						(SELECT @rownum := (SELECT	COUNT(*)-#{pagenum}+1 FROM xo_board ta)) tb
		ORDER BY 		board_num DESC
		LIMIT			#{pagenum}, 5
	 </select>
	 
	 <!-- 총 게시글 새기 -->
	 <select id="countBoard" resultType="int">
	 	SELECT 		COUNT(*) count
		FROM 		xo_board
	 </select>
	  
	 <!--  게시글 추가하기-->
	 <insert id="insertBoard" parameterType="Board">
		INSERT INTO xo_board(
	      	board_sub,
	      	board_pw,
	      	board_text,
	      	board_id,
	      	board_name,
	      	board_date
	      )VALUES(
	      #{board_sub},
	      #{board_pw},
	      #{board_text},
	      #{board_id},
	      #{board_name},
	      #{board_date}
	      )
	      <selectKey keyProperty="board_read" resultType="Integer">
	      	SELECT LAST_INSERT_ID()
	      </selectKey>
	</insert>
	
	<update id="updateBoard">
		UPDATE 		xo_board 
		SET 		board_groupId=#{board_read}
		WHERE 		board_num=#{board_read}
	</update>
	
	<!--  게시글 읽기-->
	<select id="readBoardList" resultType="Board">
	      SELECT         	 *
	      FROM            	 xo_board
	      WHERE				board_num=#{num}
	      
	</select>
	
	<!--  게시글 읽을때마다 board_read++-->
	<update id="updateRead">
		UPDATE 		xo_board 
		SET 		board_read=board_read+1
		WHERE 		board_num=#{num}
	</update>
	
	<!--  댓글 가져오기-->
	<select id="getComment" resultType="Comment">
		SELECT		*
		FROM		xo_comment
		WHERE		board_num=#{board_num}
	</select>
	
	<!--  댓글 생성-->
	<insert id="replyCreate">
		INSERT INTO xo_comment (comment_num, board_num, comment_text, comment_writer)
					VALUES		(#{comment_num},#{board_num},#{comment_text},#{comment_writer})
	</insert>
	
	<!--  게시글 수정 위해 글 가져오기-->
	<select id="getUpdateBoard" resultType="Board">
	      SELECT         	 *
	      FROM            	 xo_board
	      WHERE				board_num = #{num}
	 </select>
	 
	
	 <!--  게시글 수정-->
	 <update id="updateBoardProcess">
	 	UPDATE		xo_board
	 	SET 		board_sub = #{board_sub},
	 				board_pw = #{board_pw},
	 				board_text = #{board_text}
	 	WHERE		board_num = #{board_num}
	 
	 </update>
	 
	 <delete id="deleteBoard">
	 	DELETE FROM xo_board
        WHERE board_num = #{num}
	 </delete>
</mapper>
